{% extends 'DomaineFilliatreauPresentationBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>INDEX LAYOUT</h1>
    <p>Index content</p>
{% endblock %}
