<!DOCTYPE html>
<html> 
    <head>
        <title>Domaine Filliatreau</title>
    </head>
    <body>
        <h1>Welcome !</h1>
        
        <p>Welcome to the Domaine Filliatreau's homepage!</p>
    </body>
</html>